
.modal-content {
      width: 1000px;
      overflow-y:auto
              }
			  

.content{
	 height: 700px
}

.tab-content{
	height: 750px
}
 	
div#shiny-tab-map{
	height: 750px
}

div#map {
    width: 100%;
    height: 800px !important;
}

div.outer {
  
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#hover_box {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#hover_box:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#table{
overflow-x : auto !important
}

#xlimitsmin{
	width: 100px;
	float:left;
}

#xlimitsmax{
	width: 100px;
	float:left;
}

.field1 {
   float:left;
}

#plot2 {
margin-left : -15px !important
}

#plot3 {
margin-left : -15px !important
}

#plot4 {
margin-left : -15px !important
}

#plot5 {
margin-left : -15px !important
}

#plot6 {
margin-left : -15px !important
}

#plot7 {
margin-left : -15px !important
}

.imageContainer{
float: left !important
width :50%
}