{% extends "base.html" %}

{% block content %}
	<h3>You're currently near {{ user.current }}</h3>
    <h3>The nearest gas station is located at {{ user.station}}</h3>
    <h3>The gas there costs ${{ user.cost}}.</h3>
    <br></br>
    <!-- Put directions in here -->
<table>
  <tr>
    <th>Directions</th>
  </tr>
  {% for each in user.gas %}
  <tr> 
    <td> {{ each | safe}}
    </td>
  </tr>
</tr>
    {% endfor %}
</table>

    <h2>All Gassed Up? Let's Get Driving!</h2>
    <form action="/index" method="get" name="uber">
        {{ form.hidden_tag() }}
        <p><input type="submit" value="Take Me to the Fares!"></p>
    </form>
    


{% endblock %}
