<!-- extend base layout -->

{% extends "base.html" %}

{% block content %}
	<h3>You're currently near, {{ user.current_location }}</h3>
    <h3>The best neighborhood near you for fares is {{ user.neighborhoods }}!</h3>
    <br></br>
    <h4>{{ user.neighborhoods }} is about {{ user.distance }}s away, and will take about {{ user.time }} to get to.</h4>

    <table>
      <tr>
        <th>Directions</th>
      </tr>
      {% for each in user.directions %}
      <tr> 
        <td> {{ each | safe}}
        </td>
      </tr>
        </tr>
        {% endfor %}

    </table>
{% endblock %}