<!-- extend base layout -->

{% extends "base.html" %}

{% block content %}
	<h3>You're currently near, {{ user.current_location }}</h3>
    <h3>The Best Neighborhood Near You For Fares Is {{ user.neighborhoods }}!</h3>
    <h4>Directions to there:</h4>
    <!-- Put directions in here -->
    {% for each in user.directions %}
    <table>
    <thead>
    <tr>
    	<td>
    		
    	</td>
    </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="each in {{ user.directions }}">
			<td>
				
			</td>    		
    	</tr>
    </tbody>
    </table>
    <p>
    {{ each|safe}}
    </p>
    {% endfor %}
{% endblock %}
