<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['uber'];
        form.elements['openid'].value = openid;
    }
    </script>
    <div style=padding-left: 50px> 
    <h1>Uber Driver Recomendation System!</h1>
    <form action="" method="post" name="uber">
        {{ form.hidden_tag() }}
        <p>
            How Many Miles Are You Willing to Drive?:<br>
            {{ form.openid(size=80) }}
            {% for error in form.openid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <!--
            |{% for pr in providers %}
                <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
            {% endfor %}
            -->
        </p>
        <p>{{ form.gas }} Do You Need Gas?</p>
        <p>{{ form.restaurants }} Do You Need Food?</p>
        <p><input type="submit" value="Get Directions!"></p>
    </form>
    </div>
{% endblock %}
