<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    </script>
    <div class=splash> 
    <h2>Uber Driver Recommendation System!</h2>
    <div id="overlay"><img src="https://giant.gfycat.com/OffbeatDefensiveGermanwirehairedpointer.gif" alt="Be patient..." /></div>
    
    <form action="" method="post" name="uber">
        {{ form.hidden_tag() }}
        <p>
            How Many Miles Are You Willing to Drive?:<br>
            {{ form.openid(size=80) }}
            {% for error in form.openid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <!--
            |{% for pr in providers %}
                <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
            {% endfor %}
            -->
        </p>

        <p>{{ form.gas }} Do You Need Gas?</p>
        <!--
        <p>{{ form.restaurants }} Do You Need Food?</p>
        -->
        <p><input type="submit" class="pure-button pure-button-primary" value="Get Directions!"></p>

    </form>
    </div>
{% endblock %}


