
div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#hover_box {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#hover_box:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

#intro {
  background-image: url("http://img.thesun.co.uk/aidemitlum/archive/02535/toyota_highway_2535142a.JPG");
  height:580px;
  color:white;
}